* {
    font-family: "Calibri", Arial, "Times New Roman", Times, serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #eee;
    background: rgb(34,193,195);
    background: linear-gradient(81deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

textarea, input[type="text"] {
    width: 100%;
}

textarea {
    height: 300px;
}

button {
    padding: 5px 10px;
    margin: 5px;
}

#main-container {
    width: 100vw; height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#body-container {
    width: 80%; height: auto;
    min-width: 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#articles-container {
    width: 100%; height: auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.article {
    color: #111;
    background-color: #eee;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.bold {
    font-weight: 800;
    line-height: 0;
}