* {
  box-sizing: border-box;
  font-family: Calibri, 'Calibri', 'Times New Roman', serif;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

.main-container {
  width: 100vw; height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-x: hidden;
  background: rgb(34,193,195);
  background: linear-gradient(81deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.filter-container {
  width: 500px;
  border: 1px solid #111;
  margin: 20px 0;
  padding: 20px;
  background: #eee;
  border-radius: 20px 0;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.2);
}

.article, .generic {
  width: 500px;
  position: relative;
  border: 1px solid #111;
  padding: 20px;
  margin: 20px 0;
  background: #eee;
  border-radius: 20px 0;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.2);
}

.article-id, .published-status {
  position: absolute;
  top: 0; right: 0px;
  min-width: 30px;
  padding: 0 5px;
  background-color: #111;
  color: #eee;
  text-align: right;
}

input[type="text"], textarea, select {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

textarea {
  height: 20rem;
  min-height: 5rem;
}

select {
  padding: 5px;
}

.error-popup {
  user-select: none;
  right: 20px; bottom: 20px;
  position: absolute;
  padding: 20px;
  background-color: rgb(255, 63, 63);
  color: #fff;
}

.bold {
  font-weight: 800;
}

.super {
  font-size: 0.8rem;
  vertical-align: super;
  color: #555;
  margin-left: 0.2rem;
}

.button-section {
  height: auto;
  max-height: 40px;
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(120, 120, 120);
  background: linear-gradient(90deg, rgba(120,120,120,1) 0%, rgba(0,0,0,0) 100%);
}

button {
  height: 30px;
  border: none;
  padding: 5px 10px;
}

button:hover {
  outline: 2px solid #000;
  cursor: pointer;
}

button + button {
  margin-left: 5px;
}

a {
  color: #eee;
  text-decoration: none;
}